[Interface]
Address = 10.10.30.1/24
PrivateKey = {{ server_private_key }}
ListenPort = 51820
SaveConfig = false

# Activer le routage IP
PostUp = iptables -t nat -A POSTROUTING -o enp0s8 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o enp0s8 -j MASQUERADE

# ===== PEER CONFIGURATIONS =====
# Les blocs [Peer] seront ajoutés ici par le client distant