{
  "web": {
    "client_id": "{{ keycloak_client_id }}",
    "client_secret": "{{ keycloak_client_secret }}",
    "auth_uri": "http://10.10.10.10/auth/realms/{{ keycloak_realm }}/protocol/openid-connect/auth",
    "token_uri": "http://10.10.10.10/auth/realms/{{ keycloak_realm }}/protocol/openid-connect/token",
    "userinfo_uri": "http://10.10.10.10/auth/realms/{{ keycloak_realm }}/protocol/openid-connect/userinfo",
    "issuer": "http://10.10.10.10/auth/realms/{{ keycloak_realm }}",
    "redirect_uris": [
      "http://192.168.56.20:5000/oidc_callback",
      "http://10.10.20.10:5000/oidc_callback",
      "http://10.10.10.10/oidc_callback"
    ]
  }
}